body {
  font-family: Arial, sans-serif;
  margin: 40px;
  background-color: #061222;
  color: whitesmoke;
}

.header {
  text-align: center;
  margin-bottom: 30px;

}

.insta {
    width: 10rem;
    height: 10rem;
    padding: 10.5px;
    border-radius: 50%;
    background: conic-gradient(
        #f58529,
        #feda77,
        #dd2a7b,
        #8134af,
        #f58529
    );
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto
}

.blk {
    width: 10rem;
    height: 10rem;
    padding: 5px;
    border-radius: 50%;
    background: black;
}

.profile-pic {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;
}


.highlight {
    color: #447794;
}

.aboutme {
  text-indent: 50px;
  text-align: justify;
}

.section {
  background-color: #2D5B75;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;

}

th, td {
    border: 1px solid whitesmoke;
    padding: 10px;
    text-align: center;
    justify-content: center;
    color: whitesmoke;
}

th {
    background-color: #0077cc;
    color: white
}

a {
  color: #4FD3FF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  margin-top: 40px;
  font-size: 14px;
  color: #777;
}

